
/*
 * CSS for the Frontend of Gwolle-GB Guestbook plugin
 */


#gwolle_gb {
	clear: left;
}

#gwolle_gb span {
	display: inline;
}

/* Write button */

#gwolle_gb_write_button {
	margin: 20px 0 10px;
}


/* Write section */

#gwolle_gb form#gwolle_gb_new_entry {
	margin-top: 20px;
	text-align: left;
}


/* Messages / Notices */

#gwolle_gb #gwolle_gb_messages {
	border-left: 4px solid #7ad03a;
	box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
	padding: 1px 12px;
	margin: 5px 0 15px;
}
#gwolle_gb #gwolle_gb_messages.error {
	border-left: 4px solid #dd3d36;
}

#gwolle_gb .error p, div.updated p {
	margin: 0.5em 0;
	padding: 2px;
}

#gwolle_gb form#gwolle_gb_new_entry .input.error, /* recaptcha */
#gwolle_gb form#gwolle_gb_new_entry input.error,
#gwolle_gb form#gwolle_gb_new_entry textarea.error {
	border: 1px solid #dd3d36;
}

#gwolle_gb .label,
#gwolle_gb .input {
	vertical-align: top;
}
#gwolle_gb .label {
	width: 30%;
}
#gwolle_gb .input {
	width: 40%;
}
#gwolle_gb .input input[type="text"],
#gwolle_gb .input textarea {
	width: 100%;
}
#gwolle_gb .input textarea {
	height: 150px;
}
#gwolle_gb .clearBoth {
	clear: both;
}


/* Page Navigation */

#gwolle_gb .page-navigation {
	width: 100%;
	text-align: right;
	padding: 8px 0;
}
#gwolle_gb .page-navigation a,
#gwolle_gb .page-navigation span {
	padding: 3px 5px;
	margin: 2px;
	color: #333;
	background-color: #e6e6e6;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -ms-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -webkit-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -o-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: linear-gradient(top, #f4f4f4, #e6e6e6);
	border: 1px solid #d2d2d2;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
}
/* Current page */
#gwolle_gb .page-navigation span {
	color: #666;
}

/* Read section */

#gwolle_gb .admin-entry {
	color: #333;
	background-color: #e6e6e6;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -ms-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -webkit-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -o-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: linear-gradient(top, #f4f4f4, #e6e6e6);
	padding-left: 5px;
}
#gwolle_gb .admin-entry a {
	color: #666;
}
#gwolle_gb .gb-entry {
	border-top: 1px dotted #999;
	padding: 10px 0;
	margin: 0;
}
#gwolle_gb .gwolle_gb_first {
	border-width: 0px;
}
#gwolle_gb .gb-entry .gb-author-info,
#gwolle_gb .gb-entry .gb-entry-content {
	display: block;
}
#gwolle_gb .gb-entry .gb-author-info .gb-author-avatar {
	margin: 0 0 8px 0;
}
#gwolle_gb .gb-entry .gb-author-info .gb-author-name {
	padding-left: 10px;
	font-weight: bold;
}
#gwolle_gb .gb-entry .gb-entry-content {
	padding-left: 10px;
}

/* Admin Reply */

#gwolle_gb .gb-entry-admin_reply {
	margin: 10px 0 0 40px;
	padding: 4px 10px 4px 10px;
	border-left: 1px dotted #999;
}

/* Widget */

li.gwolle_gb_widget {
	border-bottom: 1px dotted #999;
	padding: 3px 0;
	margin: 0;
}

p.gwolle_gb_link {
	padding: 3px 0;
}


/* Admin Bar */
#wpadminbar #wp-admin-bar-gwolle-gb .ab-icon::before {
	content: "ÔÑÅ";
	top: 3px;
}
