
/*
 * CSS for the Frontend of Gwolle-GB Guestbook plugin
 */

#gwolle_gb {
	clear: both;
}

/* Write section */
#gwolle_gb form#gwolle_gb_new_entry {
	margin-top: 20px;
	text-align: left;
}

/* Messages */

#gwolle_gb #gwolle_gb_messages {
	background-color: #fff;
	border-left: 4px solid #7ad03a;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	padding: 1px 12px;
	margin: 5px 0 15px;
}
#gwolle_gb #gwolle_gb_messages.error {
	border-left: 4px solid #dd3d36;
}

#gwolle_gb .error p, div.updated p {
	margin: 0.5em 0;
	padding: 2px;
}

#gwolle_gb input.error,
#gwolle_gb textarea.error {
	border: 1px solid #dd3d36;
}

#gwolle_gb .label,
#gwolle_gb .input {
	float: left;
	vertical-align: top;
}
#gwolle_gb .label {
	width: 150px;
}
#gwolle_gb .input input[type="text"],
#gwolle_gb .input textarea {
	width: 300px;
}
#gwolle_gb .input textarea {
	height: 150px;
}
#gwolle_gb .clearBoth {
	clear: both;
}


/* Page Navigation */
#gwolle_gb #page-navigation {
	width: 100%;
	text-align: right;
}
#gwolle_gb #page-navigation a,
#gwolle_gb #page-navigation span {
	padding: 2px;
	margin: 2px;
	background-color: #C6C6C6;
	border: 1px solid #000000;
}


/* Read section */
#gwolle_gb .admin-entry {
	background-color: #FFF0F5;
	padding-left: 5px;
}
#gwolle_gb .gb-entry {
	border-top: 1px dotted #999;
	padding: 10px 0;
	margin: 0;
}
#gwolle_gb .first.gb-entry {
	border-width: 0px;
}
#gwolle_gb .gb-entry .author-info,
#gwolle_gb .gb-entry .entry-content {
	display: block;
}
#gwolle_gb .gb-entry .author-info .author-avatar {
	margin: 0 0 8px 0;
}
#gwolle_gb .gb-entry .author-info .author-name {
	padding-left: 10px;
	font-weight: bold;
}
#gwolle_gb .gb-entry .entry-content {
	padding-left: 10px;
}


