
/*
 * CSS for the admin part of Gwolle GB Guestbook.
 */


.gwolle-gb {
	clear: both;
}

/* Menu Icon */
#icon-gwolle-gb {
	background-image: url('gfx/icon-45x45.png');
	background-repeat: no-repeat;
	margin: 0 10px;
	float: left;
	width: 45px;
	height: 42px;
}


/* Welcome page */
.gwolle_gb_welcome .table_content.gwolle_gb table {
	margin-left: 10px;
}

.gwolle_gb_welcome .versions a.button {
	margin-left: 10px;
}

body #dashboard-widgets .postbox#gwolle_gb_notification form p.submit {
	margin: 1em 0;
}

#gwolle_gb_eff {
	float: right;
	width: 90px;
	height: 61px;
	background: url('gfx/logo_eff.png') no-repeat;

}


/* Editor.php */

.gwolle_gb_edit_meta_inputs {
	display: none;
}
#gwolle_gb_editor #post-body-content input[type="text"],
#gwolle_gb_editor #post-body-content textarea {
	width: 100%;
	max-width: 500px;
	clear: both;
}
#gwolle_gb_editor #post-body-content textarea {
	display: block;
}


/* Entries.php */
/* Page Navigation */
.gwolle_gb .tablenav .tablenav-pages a {
	display: inline;
	padding: 4px 6px 4px;
	margin-left: 4px;
}

/* Table */
.gwolle_gb td.entry-author-name{
	word-break: break-word;
}
.gwolle_gb td.entry-content {
	word-break: break-all;
	word-wrap: break-word;
}
.gwolle_gb .id,
.gwolle_gb .check {
	width: 12px;
}
.gwolle_gb .entry-date {
	width: 92px;
}

.gwolle_gb .entry-checked,
.gwolle_gb .entry-unchecked,
.gwolle_gb .entry-loading {
	background-repeat: no-repeat;
	background-position: 0px 6px;
	width: 10px;
	cursor: move;
}

.gwolle_gb #gwolle_gb_entries .admin-entry {
	color: #333;
	background-color: #e6e6e6;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -ms-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -webkit-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -o-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: linear-gradient(top, #f4f4f4, #e6e6e6);
}


/* Icons on entries.php and editor.php */
.gwolle_gb td.entry-icons {
	min-width: 50px;
}
.gwolle_gb .visible-icon,
.gwolle_gb .invisible-icon,
.gwolle_gb .spam-icon,
.gwolle_gb .trash-icon,
.gwolle_gb .entry-icons .gwolle_gb_ajax {
	display: none;
	width: 16px;
	height: 16px;
	margin-right: 5px;
}
.gwolle_gb .visible .visible-icon {
	display: inline-block;
	background-image: url('gfx/entry-checked.png');
}
.gwolle_gb .invisible .invisible-icon {
	display: inline-block;
	background-image: url('gfx/entry-unchecked.png');
}
.gwolle_gb .spam .spam-icon {
	display: inline-block;
	background-image: url('gfx/entry-spam.png');
}
.gwolle_gb .admin_reply-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 5px;
	background-image: url('gfx/entry-admin_reply.png');
}

/* AJAX */
.gwolle_gb .entry-icons .gwolle_gb_ajax {
	background-image: url('gfx/loading.gif');
}

.gwolle_gb tr.entry td span {
	vertical-align: middle;
}

/* Overwrite CSS rules from other plugins */
.gwolle_gb .invisible {
	visibility: visible !important;
}

/* Entries actions */
td.gwolle_gb_actions {
	width: 130px;
}

/* Editor Log */
.gwolle_gb_log {
	max-height: 400px;
	overflow: auto;
}


/* Settings page */
/* Tabs */
form.gwolle_gb_options {
	display: none;
}
form.gwolle_gb_options.active {
	display: block;
}


/* Forms tab */
.gwolle_gb_options th.narrow,
.gwolle_gb_options td.narrow {
	width: 100px;
}


/* Dashboard Widget */
#gwolle_gb_dashboard .inside {
	margin-top: 4px;
}
#gwolle_gb_dashboard .comment {
	padding-top: 3px;
}
#gwolle_gb_dashboard .date {
	font-size: 82%;
}
#gwolle_gb_dashboard blockquote.excerpt {
	margin: 0;
}
#gwolle_gb_dashboard .excerpt p {
	margin: 4px 0;
}

#gwolle_gb_dashboard p.row-actions {
	margin: 0;
	padding-bottom: 4px;
}

#gwolle_gb_dashboard .admin-entry {
	color: #333;
	background-color: #e6e6e6;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -ms-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -webkit-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -o-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: linear-gradient(top, #f4f4f4, #e6e6e6);
}


/* AJAX on Entries Page and on Dashboard Widget */
span.gwolle_gb_check,
span.gwolle_gb_uncheck,
span.gwolle_gb_spam,
span.gwolle_gb_unspam,
span.gwolle_gb_trash,
span.gwolle_gb_untrash,
span.gwolle_gb_ajax {
	display: none;
}
.unchecked span.gwolle_gb_check {
	display: inline;
}
.checked span.gwolle_gb_uncheck {
	display: inline;
}
.nospam span.gwolle_gb_spam {
	display: inline;
}
.spam span.gwolle_gb_unspam {
	display: inline;
}
.notrash span.gwolle_gb_trash {
	display: inline;
}
.trash span.gwolle_gb_untrash {
	display: inline;
}

/* Admin Bar */
#wpadminbar #wp-admin-bar-gwolle-gb .ab-icon::before {
	content: "ÔÑÅ";
	top: 3px;
}
